name: Go

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.23

    - name: Build
      run: go build ./...

    - name: Test
      env:
        PDNS_RUN_INTEGRATION_TEST: 1
      run: |
        go test ./...
